h1 {
  font-size: 45pt;
  color: red;
  background-color: black;
  align-content: center;
}

ul {
  list-style: circle;
}

h2 {
  align-content: center;
}

ol {
  list-style-type: decimal;
  align-content: center;
}
